@page
@model IndexModel
@{
	ViewData["Title"] = "Book a Seat";
}

<link rel="stylesheet" href="~/css/seatchart.css" asp-append-version="true" type="text/css" media="all" />
 
<div id="container"></div>

    <script src="~/js/seatchart.js" asp-append-version="true"></script>
    <script>
      var options = {
        map: {
          rows: 10,
          columns: 10,
          seatTypes: {
            default: {
              label: 'Entrance',
              cssClass: 'entrance',
             seatRows: [0, 1, 2],
            },
            west: {
              label: 'West',
              cssClass: 'west',
             seatRows: [3, 4, 5],
            },
            north: {
              label: 'North',
              cssClass: 'north',
              seatRows: [6, 7, 8],
            },
            east: {
              label: 'East',
              cssClass: 'east',
              seatRows: [9, 10],
            },
          },
          disabledSeats: [
            // Entrance
            { row: 0, col: 0 },
            { row: 0, col: 4 },
            { row: 0, col: 5 },
            { row: 0, col: 9 },
            { row: 2, col: 0 },
            { row: 2, col: 4 },
            { row: 2, col: 5 },
            { row: 2, col: 9 },
            

            // West
            { row: 3, col: 0 },
            { row: 3, col: 4 },
            { row: 3, col: 5 },
            { row: 3, col: 9 },
            { row: 5, col: 0 },
            { row: 5, col: 4 },
            { row: 5, col: 5 },
            { row: 5, col: 9 },
            

            // North
            { row: 6, col: 0 },
            { row: 6, col: 4 },
            { row: 6, col: 5 },
            { row: 6, col: 9 },
            { row: 8, col: 0 },
            { row: 8, col: 4 },
            { row: 8, col: 5 },
            { row: 8, col: 9 },
          ],
          reservedSeats: [
            { row: 0, col: 3 },
            { row: 0, col: 4 },
          ],
          //selectedSeats: [{ row: 0, col: 5 }, { row: 0, col: 6 }],
          rowSpacers: [3, 6, 9],
          columnSpacers: [5],
        },
      };

      var element = document.getElementById('container');
      var sc = new Seatchart(element, options);
      sc.addEventListener('submit', function handleSubmit(e) {
        //alert('Total: ' + e.total + '€');
        alert('Your reservation has been completed.');
      });
    </script>
<script src="~/js/jquery-1.11.0.min.js" asp-append-version="true"></script>
<script src="~/js/jquery.nicescroll.js" asp-append-version="true"></script>
<script src="~/js/scripts.js" asp-append-version="true"></script>


