@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ITS VSM</h1>
    <p>This system will allow you to reserve a space in the office, as well as allowing you to choose your preferences for snacks and drinks.</p>
</div>
